<main>
  <aside>
    <div class="logo">
      <img src="/img/userlogin.png">
    </div>
    <h1>LOGIN</h1>
    <form>
      <div class="text-field">
        <input id="username" maxlength="15" type="text" required autofocus> 
        <label class="label">Nombre de usuario</label>
      </div>
      <div class="text-field">
        <input id="passwd" maxlength="15" type="password" required> 
        <label class="label">Contraseña</label>
      </div>
      <button type="submit">Iniciar sesión</button>
    </form>
  </aside>
  <img src="/img/login.jpg">
</main>