@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

body{
  background: #dae0e6;
}

/* header */

header{
  height: 60px;
  padding: 0 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

header .logo img{
  width: 45px;
}

header .logo h1{
  font-size: 30px;
  font-weight: 500;
}

header .session{
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

header .session h2{
  font-size: 25px;
  font-weight: 700;
}

header .session a{
  cursor: pointer;
  color: rgb(86, 86, 86);
  font-weight: 600;
}


@media (max-width: 725px) {
  header .logo h1 {
    display: none;
  }
}